html, body, #content {
  height: 100%;
}

body {
  word-wrap: break-word;
}

.app {
  display: flex;
  min-height: 100%;
  position: relative;

  .full-page-container {
    min-width: 1rem;
    overflow: hidden;
    flex-grow: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > .above-footer {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .main {
        position: relative;
        flex-grow: 1;
        min-height: 25rem;
      }
    }
  }
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid $gray-lighter;
  font-size: 0.8rem;
  color: $gray;
}

.page-actions {
  margin: 1rem 0;
  float: right;
}

.page-info-group {
  border: 2px solid $gray-light;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  & > * {
    display: block;
    flex-grow: 1;
    margin: 0.5rem 0.5rem;
    label {
      font-weight: bold;
      margin: 0;
    }
    value {
      margin-left: 0.2rem;
      display: inline;
    }
  }
}

.td-actions {
  padding-top: 8px;

  i {
    color: $link-color;
    &:hover {
      cursor: pointer;
    }
  }
  i[disabled] {
    color: $body-color;
    &:hover {
      cursor: not-allowed;
    }
  }
}

