.containerCreate {
  label {
    margin-bottom: 0;
  }
  :global(.field-publish), :global(.field-environment) {
    margin-top: 1rem;
    :global(.field-header) {
      border-bottom: 1px solid #666;
      a {
        margin-left: 0.5rem;
      }
    }
    :global(.field-body) {
      :global(.row) {
        margin-top: 0.5rem;
      }
    }
  }

  :global(.field-environment) {
    margin-top: 2rem;
  }
}