@import "../../css/variables";

.clusterDetail {
  :global(.containers) {
    :global(tr.tr-value:not([data-running])) td {
      background-color: lighten($brand-warning, 35%);
    }
    td:last-child {
      width: 11rem;
    }
  }
}