.loginPage {
  bottom: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.loginContainer {
  width: 30rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  :global(.text-error) {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
