.widgets {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.full-width {
  margin: 0 -22px -16px;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}

.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;

  i {
    cursor: pointer;
    font-size: 14px;
    color: #bfbfbf;
    margin-left: 11px;
    display: inline-block;

    &.fa-minus {
      margin-bottom: -1px;
      vertical-align: bottom;
    }

    &:hover {
      color: $default-text;
    }
  }
}

.checkbox-list-image {
  margin: 0 0 0 20px;
  display: none;
}

.button-wrapper {
  margin-top: -10px;
  height: 28px;
}

#container-log-modal {
  div.modal-content {
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
  }
  div.modal-footer {
    flex-grow: 0;
  }
  div.modal-body {
    flex-grow: 8;
    display: inline-flex;
    flex-direction: column;
  }
  div.modal-header {
    flex-grow: 0;
  }
}