.widgets {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.full-width {
  margin: 0 -22px -16px;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}

.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;

  i {
    cursor: pointer;
    font-size: 14px;
    color: #bfbfbf;
    margin-left: 11px;
    display: inline-block;

    &.fa-minus {
      margin-bottom: -1px;
      vertical-align: bottom;
    }

    &:hover {
      color: $default-text;
    }
  }
}

.checkbox-list-image {
  display: none;
}

.button-wrapper {
  margin-top: -5px;
  height: 38px;
}

#container-log-modal {
  div.modal-content {
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
  }
  div.modal-footer {
    flex-grow: 0;
  }
  div.modal-body {
    flex-grow: 8;
    display: inline-flex;
    flex-direction: column;
  }
  div.modal-header {
    flex-grow: 0;
  }
  div.modal-header:hover {
    cursor: move;
  }
}

.checkbox-button {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:hidden;
  label {
    float: left;
    width: 100%;
    margin-bottom: 0;
    span {
      text-align: center;
      padding: 3px 0;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
    input {
      position: absolute;
      top: -100px;
      visibility: hidden;
    }
  }
  input:checked + span {
    background-color: #209e91;
    color: #fff;
  }
}

#creation-log-block {
  display: none;
  textarea {
    white-space: pre;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 0.8em;
    width: 100%;
    min-height: 200px;
    margin: 0;
    resize: none;
  }
}

.submit-buttons-block {
  margin: 0!important;
}

.pulled-left-col-block {
  padding-left: 0!important;
}

.bottom-form-separator {
  margin: 0 0 10px 0;
}

.top-form-separator {
  margin: 15px 0 20px 0;
}

.btn-file input[type=file] {
  display: none;
}

.upload-file-name {
  margin-left: 20px;
}

.clearfix {
  h3 {
    font-weight: 500;
  }
}