$local-left-margin: 0.6rem;
.stats {
  :global(.data) {
    label {
      margin-bottom: 0;
      margin-left: $local-left-margin;
    }
    h5 {
      margin-top: 1rem;
    }
    & > div:first-child {
      h5 {
        margin-top: 0;
      }
    }
    :global(.network) {
      margin-left: $local-left-margin;
    }
  }
}