.loading-dialog {
  white-space: pre;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1.0em;
  width: 100%;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  margin: 0;
  resize: none;
}