@import "../conf/_mixins";
@import "../conf/colorScheme/mint";

:global(.Select-multi-value-wrapper){
  :global(.Select-value-success) {
    background-color: $success-light;
    color: $label-text;
  }
  :global(.Select-value-warning) {
    background-color: $warning-light;
    color: $label-text;
  }
}
:global(.Select-menu-outer) {
  :global(.Select-value-success) {
    color: $success;
  }
  :global(.Select-value-warning) {
    color: $warning;
  }
}
