@import "../../../../css/variables";

.dockTable {
  :global(.docktable-header) {

    margin-top: 10px;

    h2 {
      margin-right: 1.6rem;
    }

    :global(.input-search) {
      float: left;
      max-width: 25rem;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }

    :global(.select-container) {
      form {
        float: left;
        margin-left: 0.7rem;
      }

      select {
        width: 15rem;
        margin-left: 0.7rem;
      }
    }
  }

  $local-margin: 0.3rem;

  table {
    margin-bottom: 0;
  }

  thead {
    th:global(.sortable) {
      font-weight: 500;
      cursor: pointer;

      :global(.sorting) {
        float: right;

        :global(.fa-sort) {
          color: rgba(50, 50, 50, .5);
        }
      }
    }
    th:global {
      font-weight:500;
    }
  }

  tbody tr:global(.tr-group) {
    background-color: darken($gray-lighter, 5%);

    td {
      text-align: left;
    }

    :global(.group-title) {
      cursor: pointer;
      color: $link-color;
    }

    :global(.fa) {
      margin-right: 0.3rem;
    }
  }

  :global(.tr-single-value) {
    :global(td:first-child) {
      padding-left: 1rem + $local-margin;
      color: $link-color;
    }
  }

  :global(.pagination-wrapper) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global(.pagination-showing) {
      flex-grow: 0;
    }

    nav {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }
}
